{% set title = 'Add Exercise' %}
{% extends "base_layout.html" %}
{% set manage_exercises_active = 'active' %}
{% block body %}
    {% block content %}


        <div class="jumbotron m-0">
            <h1 class="display-4">ADD EXERCISE</h1>
            <p class="lead">
                     
            </p>
        </div>

        <div class="container">
            
            <div class="card w-100">
                <div class="card-header">
                  ADD EXERCISE
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="form-group">
                          <label for="name">Exercise Name</label>
                          <input type="text" class="form-control" id="name" name="name" aria-describedby="namehelp">
                          <small id="namehelp" class="form-text text-muted">Enter the exercise name here</small>
                        </div>
                        <div class="form-group">
                            <label for="description">Exercise Description</label>
                            <textarea id="description" name="description" rows="4" aria-describedby="descriptionhelp" class="form-control">{{ form_package['description'] }}</textarea>
                            <small id="descriptionhelp" class="form-text text-muted">Describe the exercise here</small>
                        </div>
                        {% for muscle in muscles %}    
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="muscle_ids" type="checkbox" id="{{ muscle.id }}" value="{{ muscle.id }}">
                                <label class="form-check-label" for="{{ muscle.id }}">{{ muscle.name|title }}</label>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-outline-dark">Submit</button>
                        <a href="/manage_exercises" class="btn btn-outline-warning" role="button">Cancel</a>                    
                    </form>
                </div>
            </div>
        </div>
    {% endblock content %}
{% endblock body %}
