{% set title = 'Edit Exercise' %}
{% extends "base_layout.html" %}
{% block body %}
    {% block content %}


        <div class="jumbotron m-0">
            <h1 class="display-4">EDIT MACHINE</h1>
            <p class="lead">
                     
            </p>
        </div>

        <div class="container">
            
            <div class="card w-100">
                <div class="card-header">
                  EDIT MACHINE
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="form-group">
                          <label for="name">Machine Name</label>
                          <input type="text" class="form-control" id="name" name="name" aria-describedby="namehelp" value='{{ form_package['name'] }}'>
                          <small id="namehelp" class="form-text text-muted">Edit the machine name here</small>
                        </div>
                        <div class="form-group">
                            <label for="description">Machine Description</label>
                            <textarea class="form-control" id="description" name="description" rows="4" aria-describedby="descriptionhelp">{{ form_package['description'] }}</textarea>
                            <small id="descriptionhelp" class="form-text text-muted">Edit the machine description here</small>
                        </div>
                        <div class="form-group">
                            <label for="image">Machine Image</label>
                            <input type="text" class="form-control" id="image" name="image" aria-describedby="imagehelp" value='{{ form_package['image'] }}'>
                            <small id="imagehelp" class="form-text text-muted">Edit machine image here</small>
                        </div>
                        <div class="form-group">
                            <label for="image_use">Machine in use Image</label>
                            <input type="text" class="form-control" id="image_use" name="image_use" aria-describedby="imagehelp" value='{{ form_package['image_use'] }}'>
                            <small id="imagehelp" class="form-text text-muted">Edit machine in use image here</small>
                        </div>
                        {% for exercise in exercises %}
                            {% if exercise.id in ticked_exercises_dictionary %}
                                {% set checked = "checked" %}
                            {% endif %}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="exercise_ids" type="checkbox" id="{{ exercise.id }}" value="{{ exercise.id }}" {{ checked }}>
                                    <label class="form-check-label" for="{{ exercise.id }}">{{ exercise.name|title }}</label>
                                </div>
                        {% endfor %}
                        <input type="hidden" name="id" value="{{ form_package['id'] }}">
                        <button type="submit" class="btn btn-outline-dark">Update</button>
                        <a href="/manage_machines" class="btn btn-outline-warning" role="button">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    {% endblock content %}


{% endblock body %}
