{% set title = 'EXERCISES' %}
{% set exercises_active = 'active' %}
{% extends "base_layout.html" %}
{% block navbar %}
    {% include '/includes/_navbar_gym_machines.html' %}
{% endblock navbar %}
{% block content %}

<div class="jumbotron m-0">
    <h1 class="display-4">EXERCISES</h1>
    <p class="lead">
        Exercises are activities that help to enhance or maintain physical fitness. 
        They involve engaging in physical activity and increasing the heart rate beyond resting levels. 
        They are an important part of preserving physical and mental health.
    </p>
</div>

<div class="card-group w-100">
    <div class="card">
        <img src="/static/images/exercise_title1.png" class="card-img-top h-100">
    </div>
    <div class="card">
        <img src="/static/images/exercise_title2.png" class="card-img-top h-100">
    </div>
</div>

<div class="container">

    <div class="jumbotron m-0">
        <h1 class="display-4">THESE ARE SOME OF THE EXERCISES WE CAN PERFORM TO TARGET DIFFERENT MUSCLE GROUPS</h1>
    </div>


    <div class="card-deck">
        {% for exercise in exercises %}
        <div class="col-lg-6 mb-4">
            <div class="card m-0 h-100">
                <div class="card-header bg-secondary text-light">
                    <h5 class="card-title">{{ exercise.name|replace("_"," ")|title }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ exercise.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}