{% set title = 'Gym Machines' %}
{% extends "base_layout.html" %}
{% set manage_machines_active = 'active' %}
{% block body %}
    {% block content %}


        <div class="jumbotron m-0">
            <h1 class="display-4">MANAGE THE MACHINES IN THIS GYM</h1>
            <p class="lead">
                Use the form to manage the machines in the gym      
            </p>
        </div>

        <div class="container">
            <div class="card w-100">
                <div class="card-header">
                  MACHINES
                </div>


                <a class="btn btn-outline-dark" href="/add_machine?machine_id" role="button">Add New Machine</a>

                <table class="table table-striped table-bordered m-0">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col"><p class="text-center">ID</p></th>
                            <th scope="col"><p class="text-center">Machine</p></th>
                            <th scope="col"><p class="text-center">Description</p></th>
                            <th scope="col"><p class="text-center">Exercises</p></th>
                            <th scope="col"><p class="text-center">Machine Image</p></th>
                            <th scope="col"><p class="text-center">Machine in use Image</p></th>
                            <th scope="col"><p class="text-center">Date Created</p></th>
                            <th scope="col"><p class="text-center">Edit Machine</p></th>
                            <th scope="col"><p class="text-center">Delete Machine</p></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for machine in machines %}
                            <tr>
                                <th scope="row">{{ machine.id }}</th>
                                <td>{{ machine.name }}</td>
                                <td>{{ machine.description }}</td>

                                <td>


                                    <div class="container">
                                        <div class="row no-gutters row-cols-1">
                                            {% set exercises = machine_exercise_dictionary[machine.name] %}
                                            {% for exercise in exercises %}
                                                    <div class="col border-bottom">{{ exercise }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                </td>

                                <td>{{ machine.image }}</td>
                                <td>{{ machine.image_use }}</td>
                                <td>{{ machine.created_date }}</td>
                                <td><a class="btn btn-outline-dark" href="/edit_machine?machine_id={{ machine.id }}" role="button">Edit</a></td>
                                <td><a class="btn btn-danger" href="/delete_machine?machine_id={{ machine.id }}" role="button" 
                                    data-container="body" data-placement="auto" data-toggle="popover" data-html="true" data-trigger = "hover"
                                    title="If you click this button there's no going back">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <a class="btn btn-outline-dark" href="/add_machine?machine_id" role="button">Add New Machine</a>


            </div>
        </div>
    {% endblock content %}


{% endblock body %}
