{% set title = 'Registration' %}
{% extends "base_layout.html" %}
{% set registration_active = 'active' %}
{% block body %}
    {% block content %}

    {% macro render_field(field) %}
    <div class="form-group">

        <label for="{{ field.name }}" class="">{{ field.label.text }}: </label>

        {{ field(class_="form-control ", **kwargs)|safe}}

        {% for error in field.errors %}
        <div class="alert alert-warning" role="alert">
            <span>{{ error }}</span>
        </div>
        {% endfor %}

    </div>
    {% endmacro %}

    {% macro render_submit(field,class="") %}
    <div class="form-group">

        <button class="btn {{ class }}" type="submit">{{ field.label.text }}</button>

    </div>
    {% endmacro %}

    <div class="jumbotron m-0">
        <h1 class="display-4">SIGN UP</h1>
        <p class="lead">
                    
        </p>
    </div>

    <div class="container">

        <div class="card-deck w-50">
            <div class="card ">
                <h5 class="card-header">Register your Account</h5>
                <div class="card-body">

                    <form class="form-signin" method="POST" action="">

                        <!-- Stop cross form security problems-->
                        {{ form.csrf_token() }}

                        <div class="">

                            {{render_field(form.username)}}
                            {{render_field(form.user_age)}}
                            {{render_field(form.password)}}
                            {{render_field(form.confirm_password)}}

                        </div>
                        <!-- And a submit button-->

                        {{render_submit(form.submit, "btn-outline-dark")}}

                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Already Have An Account? <a class="ml-2" href="/login">Sign In</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
{% endblock body %}




